html,body{margin:0;padding:0;}
body{font: 76% arial,sans-serif;text-align:center}
p{margin:0 10px 10px}

a:hover {
    color: #79B30B;
}

.header {
    position:relative;
}

.header h1{
    height:60px;
    line-height:60px;
    margin:0;
    padding-left:10px;
    text-align: left;
    background: #fff;color: #79B30B;
    background-image: url(/img/logo.png);
    background-repeat: no-repeat
}
.container{text-align:left}
.content p{
    line-height:1.4;
    
}
.right{
    padding-top: 20px;
    margin-bottom:121px;
}

.right a {
    display:block;
    padding-left: 8px;
    width: 105px;
    height: 18px;
    background: white;
}

.right a:hover {
    display:block;
    width: 105px;
    height: 18px;
    background: orange;
    color: white;
}

.bottom{background:#fff}
.footer{
	background: white;
	color: #FFF;
	height: 35px;
    width:100%;

	}
.footer p{margin:0;padding:5px 10px}

.container{width:700px;margin:0 auto}
.content{
    float:left;
    width:540px;
    background-image: url('/img/line.png');
    background-repeat:no-repeat;
    background-position: right top;
}
.right{float:right;width:160px}
.bottom{float:left;width:540px}
.footer{clear:both;width:100%}


#nav {
	list-style: none;
        background-color: green;
        
        margin-left: -41px;
}

#nav li{
    
	float:left;
	width: 130px;
        height: 22px;
        background-color: orange;
        font-size: 1.4em;
        margin: 0px 4px 2px 2px;
        text-align: center;
        background-image: url(/img/navigacija.png);
}

#nav li:hover{
    
background-color: #ff4500;
background-image: url(/img/navigacija2.png);
}

#nav a {
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
    color:white;
}

#mainInfo {
	width: 300px;
	background: #f0f0f0 url(/img/login_bg.jpg) repeat-x 0 0;
	border: 1px solid white;
	margin: 250px auto 0;
	padding: 1em;
}


h1,h2,h3,h4,h5 {
	margin-top: 0;
	font-family: "arial black", arial;
	text-align: center;
}


input {
	display: inline;
	margin: auto;
	width: 220px;
	border: 3px;
	padding: 0.7em 0.7em 0.5em;
        background: #c77405;
        margin-bottom: 5px;
}


#cut_field input {

	width: 20px;
        display: inline;

}

#resize_field input {

	width: 40px;
        display: inline;

}

#login_username, #login_password {
    width: 150px;
}

.apvalks {
    position: relative;
}

.youtube_submit {
    position:absolute;
    top:-43px;
    right: 15px;
}


input[type=submit], #id_create_user{
    border: none;
    margin-right: 1em;
    padding: 6px;
    text-decoration: none;
    font-size: 20px;
    background: #ff4500;
    color: white
}

#id_create_user {
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
    background: green;
    width: 110px;
}


input[type=submit]:hover, #id_create_user:hover, form a:hover {
	background: yellow;
        color: black;
	cursor: pointer;
}

input:hover {
    background: orange;
}

#loginbox input[type=text], #loginbox input[type=password] {
    width: 100px;   
}

#loginbox input[type=submit] {
    width: 120px;
}


.step {
    display:block; /* or inline-block */
    margin-top:20px;
    margin-bottom:20px;
    margin-left:1px;
    font-size: 20px;
    text-align: center;
}

input[type=checkbox] {
    width: 10px;
    background-color: white;
}

input[type=radio] {
    width: 10px;
    background-color: white;
}

.reg_area {
    margin-left: 10px;
    padding-bottom: 4px;
    width: 235px;
    float:left;
}


/* Validation error messages */

.error {
	color: #393939;
	font-size: 15px;
}

fieldset {
	width: 300px;
	margin: auto;
	margin-bottom: 2em;
	display: block;
}

#bar_youtube, #bar_convert {
    width: 300px;
    height: 22px;
    font-size: 1.8em;
    background-color: #79B30B;
    display: none;
}

#percents,#youtube_uploaded2 {
    background-color: orange;
    background-image: url(/img/pbar-ani.gif);
    width: 0px;
    height: 22px;
    font-size: 1em;
}

#download {
    padding-top: 4px;
    display: none;
    width: 300px;
    height: 30px;
    font-size: 1em;
}

#download a:hover {
    color: #79B30B;
}

#pagination {
    padding-top: 50px;
}

#pagination a, #pagination strong {
background: #e3e3e3;
padding: 4px 7px;
text-decoration: none;
border: 1px solid #cac9c9;
color: #292929;
font-size: 13px;
}

#pagination strong, #pagination a:hover {
 font-weight: normal;
 background: #cac9c9;
}

.link {
    display:inline;
}

.languages {
    margin-bottom: 20px;
    position:absolute;
    right:50px;
}


ul.list
{
list-style: circle;
padding: 0;
margin: 15px;
}


ul.news
{
list-style: none;
padding: 0;
margin: 0;
min-height:300px;
}

ul.news li {
    background-color: white;
    width: 99%;
}

ul.news a {
    display: inline;
}

.news_top {
    position: relative;
    background-image: url('/img/line.png');
    background-repeat:repeat-x;
    background-position: right top;
    width: 99%;
    height: 22px;
}

.news_username {
    width: 50%;
    float: left;
    font-size: 1.4em;
    font-family: Helvetica;
    
}

.news_date {
    width: 50%;
    float: left;
    text-align: right;
    font-size: 1.4em;
    font-family: Helvetica;
    
}

.news_content {
    background-color: #ffffe0;
    font-size: 1.2em;
    text-align: left;
    text-indent: 12px;
    padding-bottom: 10px;
    clear: both;
}

.media {
    margin-top: 20px;
    margin-left:1px;
}

.media input[type=text] {
    width: 275px;
    font-size: 12px;
}

.gender {
    display:block;
    width: 240px;
    float: left;
    padding-left: 10px;
}
.gender2 {
    float:left;
}

.clear {
    clear:both;
}

.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown a, .dropdown a:visited { color:blue; text-decoration:none; outline:none;}
.dropdown a:hover { color:#5d4617;}
.dropdown dt:hover {background: url(/img/navigacija2.png) no-repeat scroll right center;}
.dropdown dt a:hover { color:white;}

.dropdown dt {background:white url(/img/navigacija.png) no-repeat scroll right center; display:block; padding-right:20px;
                 width:110px;text-align:center;}

.dropdown dt a {background: url(/img/arrow.png) no-repeat scroll right center; display:block; padding-right:20px;
                width:110px;}

.dropdown dt a span {cursor:pointer; display:block; padding:5px;}
.dropdown dd ul { background: white none repeat scroll 0 0; color:#C5C0B0; display:none;
                  left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:130px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li { clear:both;background: url(/img/navigacija.png) no-repeat scroll right center;}
.dropdown dd ul li a { padding-left:5px;padding-top:5px; float:left;}
.dropdown dd ul li a:hover { color:white;}
.dropdown dd ul li:hover { background: url(/img/navigacija2.png) no-repeat scroll right center;}


.dropdown img.flag { border:none; vertical-align:middle; margin-right:10px; float: right; }

.languages_apvalks {
position: relative;
}

.languages {
position: absolute;
top:-38px;
left:540px;
}

#footer2 { color: #fff;  background: transparent url(/img/footer2.png) repeat-x; height: 200px; width: 700px;

    border-radius: 0px 0px 29px 29px;
    -moz-border-radius: 0px 0px 29px 29px;
    -webkit-border-radius: 0px 0px 29px 29px;
    
    box-shadow: 0 3px 0 gray;
    -moz-box-shadow: 0 3px 0 gray;
    -webkit-box-shadow: 0 3px 0 gray;

 }
#footer2 h4 { margin-bottom: 15px; font-size: 18px; }
#footer2 a { color: #fff; }
div.footer_section { float: left; padding: 0px 5px; min-height: 145px;}
#footer_top { padding: 5px 0 5px 0; width: 700px; margin: auto; height: 123px; }
#footer_bot { clear:both; padding-top:20px; height: 48px; position: relative; width: 700px; margin: auto; text-align: center; font-size:10px;}

#footer_download { border-left: 1px solid #f19e60; width: 210px; position: relative; }
#footer_download p { margin-bottom: 7px; }

#footer_about {  width: 270px; border-right: 1px solid #f19e60;}

#footer_follow { width: 165px; min-height: 115px;}
#footer_follow li { padding-left: 30px; background-repeat: no-repeat; background-color: transparent; line-height: 24px; display: block; margin-bottom: 5px; }
#footer_follow li.social_twitter { background-image: url(/img/social_twitter.png); }
#footer_follow li.social_rss { background-image: url(/img/social_rss.png); }
#footer_follow li.social_facebook { background-image: url(/img/social_facebook.png); }
.languages a {
display:block;
min-width: 80px;
}

.media .step {
    text-align: left;
}