RewriteEngine On

RewriteCond %{HTTP_HOST} www.wap4.org$ [NC]
RewriteRule (.*)$ http://wap4.org/$1 [R=301,L] 

RewriteCond $1 !^(index\.php|phpinfo\.php|google7ce006f3052bd2a8.html|images|BingSiteAuth\.xml|downloads|dload|dir|jiffwap|logo|source\.php|rat|youtube|files|img|ffmpeg|css|js|xampp|robots\.txt|y_key|favicon.ico)
RewriteRule ^(.+)$ index.php?$1 [L]

<FilesMatch “^index.php$”>
AcceptPathInfo On
</FilesMatch>

<FilesMatch "\.(amr|3gp|mp4|mp3)$">
  ForceType application/octet-stream
  Header set Content-Disposition attachment
</FilesMatch>


